body {
    background-color: rgb(188, 197, 205);
}

.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline;
    margin-right: 20px;

}

.container {
    width: 1000px;
    margin: 0 auto;
    border: 3px solid rgb(95, 101, 105);
    padding: 100px;
    border-radius: 500px;
    background-color: rgb(154, 159, 184);

}
